---
apiVersion: v1
kind: Secret
metadata:
  name: db-secrets
  namespace: valerix
type: Opaque
stringData:
  order-db-password: "orderpass123"
  inventory-db-password: "inventorypass123"

---
apiVersion: v1
kind: Secret
metadata:
  name: rabbitmq-secrets
  namespace: valerix
type: Opaque
stringData:
  password: "valerixpass123"
